body {
  background: transparent;
  overflow-y: scroll;
  -ms-overflow-style: none; /* hide for IE and Edge verion*/
  scrollbar-width: none; /*hide for Firefox verion*/

}
body::-webkit-scrollbar {
  display: none;
}
.parent-container-c {
  width: inherit;
  height: inherit;

}

.header-co {
  opacity: 0.3;
  width: inherit;
  height: 35%;
  background-image: url("../../../../Assats/123-boots.jpg");
  background-size: cover;
}

.main-div-comtainer-c {
  width: inherit;
  justify-content: center;
  display: flex;
  margin-top: -45px;
  max-height: max-content;
  color: white;
}

.typography-co {
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  max-height: max-content;
  color: white;

}

.pict-div-c
{
  display: flex;
justify-content: center;
float: left;
}

.pic-one-c
{
  margin-right: 10px;
  height: 294px;
  width: 500px;
  background-size: cover;
  background-image: url("../../../../Assats/courses/images.jpeg");
}

.pic-two-c
{
  margin-right: 10px;
  height: 294px;
  width: 500px;
  background-size: cover;
  background-image: url("../../../../Assats/courses/4.jpeg");
}