body {
    background: transparent;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .parent-container-th{
    width: inherit;
    height: inherit;
  }
  
  .header-th {
    width: inherit;
    height: 35%;
    background-size: cover;
    background-image: url("../../../../Assats/123-boots.jpg");
  }

  .main-div-comtainer-th {
    width: inherit;
    justify-content: center;
    display: flex;
    margin-top: -80px;
    max-height: max-content;
  color: white;
  }
  
  .typography-ex {
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  max-height: max-content;
  color: white;
  h1{
    font-family: monof55;
  }
  }
  
  @font-face {
    font-family: monof55;
    src: url(../../../../Assats/Fonts/Dust\ West.ttf);
  }
