html {
  font-size: 16px;
}

input {
  background-color: transparent;
  color: #fff;
  width: 95%;
}

label {
  color: #fff;
}
.container {
  display: grid;
  margin-right: auto;
  margin-top: auto;
}

button {
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    border: 0;
    border-radius: 2px;
}
